@import "tailwindcss";
@import "tw-animate-css";
@plugin "tailwind-scrollbar";

@theme {
  /* breakpoints */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1130px;
  --breakpoint-2xl: 1520px;

  /* colors */
  --color-primary: #0d120e;
  --color-secondary: #111a14;
  --color-accent: #5c7c54;
  --color-accent-light: #86b97a;
  --color-accent-hover: #4b6744;
  --color-tertiary: #18241e;
  --color-tertiary-hover: #1e2d25;

  /* fonts */
  --font-primary: "Sometype Mono";
}

body {
  @apply font-primary bg-primary text-white leading-relaxed;
}

.h1 {
  @apply text-[26px] md:text-[36px] xl:text-[38px] leading-[1.15]
  tracking-tight font-extrabold; /* 28px→22px, 40px→32px, 42px→34px */
}

.h2 {
  @apply text-[26px] md:text-[29px] xl:text-[30px] leading-[1.15]
  tracking-tight font-medium; /* 32px→26px, 36px→29px, 38px→30px */
}

.h3 {
  @apply text-[22px] md:text-[24px] xl:text-[26px] leading-[1.2]
  font-medium; /* 28px→22px, 30px→24px, 32px→26px */
}

.h4 {
  @apply text-[16px] md:text-[18px] font-bold leading-snug; /* 20px→16px, 22px→18px */
}

.container {
  @apply px-[12px]; /* 15px→12px */
}

/* Buttons */
.btn {
  @apply flex items-center justify-center rounded-full
  cursor-pointer transition-all font-medium h-[56px];
}

.btn-sm {
  @apply min-w-[168px] px-5 text-[15px] font-semibold;
}

.btn-lg {
  @apply min-w-[200px] px-6;
}

/* Buttons Color */
.btn-accent {
  @apply bg-accent hover:bg-accent-hover;
}

.btn-tertiary {
  @apply bg-tertiary hover:bg-tertiary-hover;
}

.btn-white {
  @apply bg-white hover:bg-white/90 text-primary;
}

/* Navigation Bar */
.link {
  @apply relative uppercase text-white;
}

.active-link {
  @apply after:content-[''] after:block after:absolute after:left-0 after:top-1/2 
        after:h-[3px] after:bg-accent after:-translate-y-1/2 after:z-0; /* h-[4px]→h-[3px] */
}
